<!DOCTYPE html>
<html>
<head>
  <title>Goalsrgreat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:errors] %>

<% if logged_in? %>
  Sign Out
  <%= "Hello, #{current_user.username}, your SSN is #{current_user.ssn}" %>
  <%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
  you are definately not signed in at all
  Sign in sign in SING IN sign in Sign in
  Sign up sign up SIGN UP signnnnup
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>  
<% end %>

<%= yield %>

</body>
</html>
